parameters:
	ignoreErrors:
		- '#Klapuch\\Storage\\MonitoredPDO::__construct\(\) does not call parent constructor from PDO#'
		- '#Klapuch\\Storage\\SideCachedPDO::__construct\(\) does not call parent constructor from PDO#'
		- '#Klapuch\\Storage\\MetaPDO::__construct\(\) does not call parent constructor from PDO#'
		- '#Klapuch\\Storage\\MemoryPDO::__construct\(\) does not call parent constructor from Klapuch\\Storage\\MetaPDO#'
